APP_ENV=
APP_PORT=8080

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rs4
POSTGRES_HOST_AUTH_METHOD=trust

# DATABASE_URL=postgres://postgres:postgres@postgres:5432/rs4

DATABASE_URL=postgres://postgres:postgres@localhost:5433/postgres


JWT_ACCESS_SECRET="12345678"
JWT_REFRESH_SECRET="12345678"
JWT_ACCESS_TOKEN_EXP_IN_SEC=3600000
JWT_REFRESH_TOKEN_EXP_IN_SEC=7200000



#LOCAL MAIL SETUP
GMAIL=mohammadalbacha2000@gmail.com
APPLICATION_PASSWORD=klshuwxibiqgdxko

# FRONTEND LINKS
FRONTEND_CONFIRM_ATTENTION=http://localhost:3000/clients/attentions

API_PREFIX='/api/v1'

# Mail setup
MAIL_HOST='smtp.gmail.com'
MAIL_PORT=465
MAIL_DEFAULT_FROM_USER='sadid'
MAIL_IS_SECURE=true
MAIL_AUTH_USER='mohammadalbacha2000@gmail.com'
MAIL_AUTH_PASSWORD='klshuwxibiqgdxko'
MAIL_SMTP='smtp.gmail.com'
