{{> header.ar}}

<p>   تم إضافتك كمسؤول متجر في منصة سديد</p>
<p>بإمكانك تسجل حساب جديد في منصة سديد بالضغط على</p>
<a href={{link}}>تسجيل حساب </a>
<p>أو نسخ الرابط التالي ولصقه في المتصفح:</p>
<p>{{link}}</p>

{{> footer.ar}}
