{{> header.en}}

<p>you have been added as a supervisor in sadid shop</p>
<p>you can signup by clicking on this link</p>
<a href={{link}}>signup</a>
<p>or copy this link and paste it in your browser:</p>
<p>{{link}}</p>

{{> footer.en}}
